# Project exclude paths
/.gradle/
/build/
/build/classes/java/main/
/build/classes/java/test/
/out/
/logs/
/userdata/user.dat
/config/
/userdata/
/database/
/serverdata/
/clientData/
/.idea/
/chats/
/chatHistories/
/bytethrow/build/
/bytethrow/src/test/
/jmbnetty/build/
/jmbnetty/src/test/
/utilities/build/
/utilities/src/test/
/demo/build/
/custom-java/
