# Project exclude paths
/.gradle/
/build/
/build/classes/java/main/
/build/classes/java/test/
/out/
/logs/
/userdata/user.dat
/config/
/userdata/
/database/
/src/test/
/src/test/java/net/jmb19905/test/
/serverdata/
/clientData/
/.idea/
/src/main/java/net/jmb19905/client/gui/messageui/
